@page
@model IndexModel

<h1>الشبكة</h1>
<ul>
    @for(int i = 1; i <= 9; i++)
    {
        <li class="neuron-item">
            <a asp-page="/Neuron" asp-route-id="@i">العصبون رقم @i</a>
        </li>
    }
</ul>

<style>
    .neuron-item {
        margin-bottom: 15px;
    }
</style>